* {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  border-radius: 50px;
}


.nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
}
.navbar-brand div {
  background-image: url('img/logo.png');
  width: 61px;
  height: 67px;
}
.nav-link{
  margin-right: 1em !important;
  font-size: 20px;
}
.nav-link:hover{
  background: #f4f4f4;
  color: #f97300;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background: #fff !important;
}

.navbar-collapse{
  justify-content: flex-end;
}

.bg-dark{
  background-color:#343a40 !important;
}
.bg-primary{
  background-color:#343a40 !important;
}

/*header style*/
.header{
  background-image: url('img/image-compiled.png');
  background-size: cover;
  background-position: center;
  height: 900px;
}

.overlay{
}

.description {
  position: relative;
  top: 294px;
}

.description h1{
  font-weight: 900;
  color: white;
  font-size: 112px;
  text-transform: uppercase;
  line-height: 137px;
}
