* {
  font-family: 'Montserrat', sans-serif;
}

li.nav-item a.btn {
  border-radius: 50px;
  padding: 10px 30px !important;
}

li.nav-item a:hover {
  color: white;
  border-bottom: solid 4px #ECBA46;
}

li.nav-item a.btn:hover {
  color: #404040;
  border-bottom: none;
}

.nav-link {
  color: #fff;
  cursor: pointer;
}
a.navbar-brand {
  display: block;
  background-image: url('img/logo.png');
  width: 61px;
  height: 67px;
}
.nav-link{
  margin-right: 1em !important;
  font-size: 20px;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background: #fff !important;
}

.bg-dark{
  background-color:#343a40 !important;
}
.bg-primary{
  background-color:#343a40 !important;
}

/*header style*/
.header{
  background-image: url('img/image-compiled.png');
  background-size: cover;
  background-position: center;
  height: 900px;
}

.description {
  position: relative;
  top: 294px;
}

.description h1{
  font-weight: 900;
  color: white;
  font-size: 112px;
  text-transform: uppercase;
  line-height: 137px;
}

.prices h1 {
  color: #343434;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  border-bottom: solid 10px #ECBA46;
}

div.carousel-item {
  width: 570px;
  height: 500px;
}

div.carousel-item img {
  width: 418px;
  position: relative;
  margin: auto;
}

.carousel-caption{
  bottom: inherit;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1.0;
  bottom: 100px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 40px;
  height: 80px;
}

.carousel-control-prev-icon {
  background-image: url('img/prev.svg');
}
.carousel-control-next-icon {
  background-image: url('img/next.svg');
}

div.carousel-item p.desc {
  color: #343434;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

div.carousel-item p.price {
  color: #ECBA46;
  font-weight: 300;
  font-size: 70px;
  line-height: 85px;
}
div.carousel-item p.price {
  after: &#8399;
}
